{% load static %}

{# Load the tag library #}
{% load bootstrap4 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% block meta %}{% endblock %}
    <title>{% block title %}Djassdoor{% endblock %}</title>
</head>

<body class="container">
<div class="mx-auto">
  <h1>Djassdoor <small>Company rating site</small></h1>
</div>
<nav class="nav">
  <a class="nav-link" href="{% url 'index' %}">Home</a>
</nav>
  {% block content %}{% endblock %}
</body>
</html>
