{% load static %}

{# Load the tag library #}
{% load bootstrap4 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% block meta %}{% endblock %}
    <title>{% block title %}Djassdoor{% endblock %}</title>
</head>

<body class="container">
<div>
  <h1 class="d-flex justify-content-center">Djassdoor</h1>
   <p class="d-flex justify-content-center"><i>Company rating site</i></p>
</div>
<nav class="nav d-flex justify-content-center">
  <a class="nav-link m-3 btn btn-outline-info" href="{% url 'index' %}">Home</a>
  <a class="nav-link m-3 btn btn-outline-success" href="{% url 'create_review' %}">Write a review</a>
  <a class="nav-link m-3 btn btn-outline-warning" href="{% url 'add_company' %}">Don't see your company? Add it here</a>
</nav>
  {% block content %}{% endblock %}
</body>
</html>
